@charset "utf-8";
/*默认收货地址*/
.add-dft{ padding:5px 5px 20px 5px;}
.add-dft ul{ border:1px solid #ccc; background-color:#fff; box-shadow:0 0 3px #ccc; overflow:hidden;}
.add-dft li{ position:relative; line-height:24px; border-bottom:1px solid #ccc;}.add-dft li:last-child{ border:0;}
.add-dft li p{ overflow:hidden; width:100%;}
.add-dft li b{ padding-right:10px;}
.add-dft .g i{ display:block;}
.left-move .dft-info{ transform:translate(-68px,0); -o-transform:translate(-68px,0); -moz-transform:translate(-68px,0); -webkit-transform:translate(-68px,0); animation:.3s linear leftMove; -o-animation:.3s linear leftMove; -moz-animation:.3s linear leftMove; -webkit-animation:.3s linear leftMove;}
.right-move .dft-info{ transform:translate(0,0); -o-transform:translate(0,0); -moz-transform:translate(0,0); -webkit-transform:translate(0,0); animation:.3s linear rightMove; -o-animation:.3s linear rightMove; -moz-animation:.3s linear rightMove; -webkit-animation:.3s linear rightMove;}

.dft-info{ position:relative; padding:5px 10px; z-index:2; background-color:#fff;}
.dft-info a{ width:100%; height:100%; position:absolute; left:0; top:0;}
.dft-info i{ position:absolute; right:10px; top:50%;  background-size:100%; display:none;}
.dft-info .i-yes{background-image:url(http://i1.letvimg.com/img/201406/12/1710/yes.png); width:21px; height:21px; margin-top:-12px;}
.dft-info .i-right{background-image:url(http://i3.letvimg.com/img/201408/01/1537/right-doc.png); width:10px; height:22px; margin-top:-11px;}
.dft-info b{ color:#444;}
.dft-info .p2{ font-size:13px; color:#bdbdbd; width:94%; line-height: 20px;}
.del-dft{ position:absolute; right:0; top:0; display:block; height:100%; width:68px; background-color:#ff3b30; text-align:center; z-index:1;}.active .del-dft{ z-index:2;}
.del-dft a,.del-dft a:hover{ color:#fff; display:inline-block; height:100%; width:100%; position:relative;}
.del-dft small{ position:absolute; top:50%; margin:-10px 0 0 -16px; height:20px; width:34px; line-height:20px; left:50%;}

.edit{ text-align:right; height:30px; line-height:31px; padding:10px 0; overflow:hidden;}
.edit a,.edit a:hover{ color:#239efc;}
.edit i{ vertical-align:middle; background-size:100%; width:18px; height:18px;}
.edit b{ padding-left:5px;}
.edit span{ padding:0 0 0 25px;}
.edit .s1 i{ background-image:url(http://i3.letvimg.com/img/201406/12/1710/edit.png);}
.edit .s2 i{ background-image:url(http://i3.letvimg.com/img/201406/12/1710/add.png);}