body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-family: sans-serif;
  font-size: 1.25em;
  padding: 5%;
  text-align: center; }

small {
  font-size: 0.75em;
  margin-top: 0.25em; }

code {
  background-color: lightgrey;
  border-radius: 3px;
  display: inline-block;
  font-family: monospace;
  font-size: 1.25em;
  padding: 0.25em 0.5em; }

a {
  color: #e53339;
  opacity: 0.8;
  text-decoration: none;
  transition: all .2s ease-in-out; 
}
a:hover {
  opacity: 1; 
}