@charset "utf-8";
/* 频道首页 */
@import url('../modules/focus.css');
@import url('../modules/title.css');
/*js动态添加样式*/
@import url('../modules/smartbanner.css');
/* @import url('../modules/add2home.css'); */
@import url('../modules/w290.css');

html,body{ height:100%;}
.focus,.home-main,.app,.appBanner{ margin:0 auto;height:auto;overflow:hidden;}
.home-main .list{ padding-bottom:3px;width:100%;float:left;margin:0 auto;}
.focus,.home-main{ min-width:310px;padding:0;}

.title .h201{position: relative;}
.title .h201 img{position: absolute; left:155px; top:9px;}

.opc-bg{ background-color:#000;opacity:0.5;position:absolute;width:100%;height:100%;left:0;top:0;display:none;}

/*
.app .els,.appBanner .elsOff{ background:none;}
.app .els a,.app .els a:hover,.appBanner .elsOff a,.appBanner .elsOff a:hover{ height:25px;}
*/
/*for iphone  pic 640 274 */
.iphone .fs-img li {
    width:320px !important;
    height:137px !important;
}
@media screen and (max-device-width:480px) and (orientation:landscape) {
/* iPhone 4 or iPod Touch 4th generation*/
  .iphone .fs-img li {
    width:480px !important;
    height:205.5px !important;
  }
}
@media screen and (device-height:568px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) {  
/* iPhone 5 or iPod Touch 5th generation */    
.iphone .fs-img li {
    width:568px !important;
    height:243.175px !important;
  }
}
@media screen and (min-width:480px){
	.open-show img{ width:480px;}
	.open-show .p2{ bottom:22.5%;}
	.open-show .p3{ bottom:13%;}
}
/*iPhone 6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
  .iphone .fs-img li {width:375px !important;height:161px !important;}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
  .iphone .fs-img li {width:667px !important;height:286px !important;}}

/*iPhone 6 Plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
  .iphone .fs-img li {width:414px !important;height:178px !important;}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 
  .iphone .fs-img li {width:736px !important;height:316px !important;}}
  
@import url('../modules/transform.css');