@charset "utf-8";
/* CSS Document 关闭 */
.cls{ position:absolute; width:30px; height:30px;background:-moz-linear-gradient(top,#3c3c3c,#626262); background:-webkit-gradient(linear,center top,center bottom,from(#3c3c3c), to(#626262));background: -o-linear-gradient(top,#3c3c3c, #626262); border-radius:30px; right:10px; top:12px;}
.cls a{ display:block; height:30px; position:relative;}.cls i{ background-color:#c6c6c6; width:4px; height:20px; position:absolute; top:5px; left:13px;}
.cls .i-1{ -moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.cls .i-2{ -moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}