@charset "utf-8";
/* 通用箭头
eg:<span class="direc"><i class="b-rot"><u class="u-t"></u><u class="u-b"></u></i><b>高清完整版</b></span>;
 */
.direc{ font-size:20px; overflow:hidden; width:100%; height:100%; margin-top:6px;}.direc a{ overflow:hidden; display:block;}
.direc i,.direc b,.direc u,.handle i,.handle b,.handle u{ float:left; display:inline;}
.direc i{ width:16px; height:27px;}
.direc b{margin-left:10px;line-height:30px;font-size:17px;}.direc a{color:#969696;}.direc a:hover{color:#529bef;}
.direc u,.c-line u{ width:100%; background-color:#fff; height:3px; float:left; border-radius:15px;}
.direc .u-t{-moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);}
.direc .u-b{-moz-transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.direc .l-rot{-moz-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
.direc .r-rot{-moz-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.direc .b-rot{-moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);}
.direc .t-rot{-moz-transform:rotate(90deg); -webkit-transform:rotate(90deg);}