@charset "utf-8";
/* CSS Document 搜索无结果 */
.error{ padding:20px 0 0 0; line-height:28px; color:#444; border-bottom:1px solid #e3e3e3; padding-bottom:30px; width:96%; margin:0 auto;}
.error i{ color:#f00; font-size:20px; padding:0 3px;}
.error p{ clear:both; overflow:hidden;}.error .p3{ padding-top:20px;}.error p a{ width:99%;}.error .f-fr a{ float:right;}
.error span{ width:49%;}