@charset "utf-8";
/* CSS Document 上下页 */
.info-more{ line-height:34px; height:35px; overflow:hidden; text-align:center; padding:0 5px; margin-top:10px; color:#969696;}
.info-more span{ background-color:#f7f7f7; width:50%; border-bottom:1px solid #dedede;}
.info-more a{ display:block;}.info-more .f-fr a{ border-left:1px solid #dedede;}