@charset "utf-8";
/* CSS Document 我是歌手标题 */
.title{ height:45px; margin:0 auto; color:#53356f; background-color:#f6f5f6; border-top:1px solid #ededed; border-bottom:1px solid #e4e4e4;}
.title h2{ font-size:18px; line-height:46px; height:45px; overflow:hidden; padding-left:8px; float:left;}.title h2 a{ display:block; width:100%; color:#53356f;}
.title span{ float:right; text-align:center; line-height:50px; padding-right:5px; height:45px; overflow:hidden; font-size:15px;}