@charset "utf-8";
/* CSS Document 搜索页图标 */
.s-letv{ background-image:url(http://i2.letvimg.com/img/201312/05/1428/letv.png);}
.s-m1905{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/m1905.png);}
.s-56{ background-image:url(http://i3.letvimg.com/img/201310/29/2101/56.png);}
.s-huasu{ background-image:url(http://i3.letvimg.com/img/201310/29/2101/huashu.png);}
.s-ku6{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/ku6.png);}
.s-kumi{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/kumi.png);}
.s-cntv{ background-image:url(http://i1.letvimg.com/img/201310/29/2101/cntv.png);}
.s-funshion{ background-image:url(http://i3.letvimg.com/img/201310/29/2101/fengxing.png);}
.s-xunlei{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/xunlei.png);}
.s-ifeng{ background-image:url(http://i0.letvimg.com/img/201310/29/2101/fenghuang.png);}
.s-qiyi{ background-image:url(http://i3.letvimg.com/img/201310/29/2101/iqiyi.png);}
.s-pps{ background-image:url(http://i0.letvimg.com/img/201310/29/2101/pps.png);}
.s-youku{ background-image:url(http://i3.letvimg.com/img/201310/29/2101/youku.png);}
.s-pptv{ background-image:url(http://i1.letvimg.com/img/201310/29/2101/pptv.png);}
.s-tudou{ background-image:url(http://i1.letvimg.com/img/201310/29/2101/tudou.png);}
.s-sohu{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/sohu.png);}
.s-qq{ background-image:url(http://i3.letvimg.com/img/201310/29/2101/qq.png);}
.s-sina{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/sina.png);}
.s-beva{ background-image:url(http://i1.letvimg.com/img/201310/29/2101/beiwai.png);}
.s-yinyuetai{ background-image:url(http://i2.letvimg.com/img/201310/29/2101/yingyuetai.png);}