@charset "utf-8";
/* CSS Document 积分信息 */

.integral .list{ overflow:hidden; padding:15px 20px;}
.integral i,.integral b,.integral p,.integral u{ float:left; line-height:30px;}
.integral i{ float:left; background:url(http://i1.letvimg.com/img/201403/27/1639/f.png) no-repeat left top; width:33px; height:33px;}
.integral b{ font-size:30px; color:#f92d12;}
.integral p{ width:66%;}
.integral em{ width:100%; float:left; padding-left:5px;}
.integral u{ float:left; overflow:hidden; height:30px; line-height:38px; padding:0 5px;}
.integral .f-fl{ width:70%;}
.integral .f-fr{ width:30%;}
.integral .ipt{ margin-top:10px;}