@charset "utf-8";
/* CSS Document */
.w218{ margin-top:10px; background-color:#fff; overflow:hidden;}
.w218 dt{ width:40%; float:left; min-height:145px; position:relative;}
.w218 dt a{ display:block; width:100%; height:100%; overflow:hidden;}
.w218 dt img{ width:100%; float:left;}
.w218 dd{ float:right; width:58.2%; line-height:22px;}
.w218 dd b,.w218 dd i{ font-size:14px; line-height:28px;}.w218 dd b{ padding:0 2px;}
.w218 .d-t{ padding:5px 0 0 0; height:22px; overflow:hidden;}.w218 .t-th{ height:66px; overflow:hidden;}
.w218 .d-i{ max-height:88px; overflow:hidden;}
.w218 .d-a i,.w218 .d-a span{ float:left;}.w218 .d-a span{ width:65%; height:22px; overflow:hidden;}
.w218 .d-y b,.w218 .d-a b,.w218 .d-y i,.w218 .d-a i{ line-height:24px;}
.w218 .d-s,.w218 .d-l{ position:relative; left:0; top:0;}.w218 .d-l{ top:18px;}
.w218 .d-l b,.w218 .d-l em{ float:left;}.w218 .d-l b{ padding:1px 10px 1px 15px;}
.w218 .d-l a{ border:1px solid #0f93de; color:#0f93de; height:30px; line-height:30px; text-align:center; width:100px; display:block; font-size:14px; border-radius:5px;}
.w218 .d-l a.btn2{ border:none; color:#fff; background:#cf111d}
.w218 .d-l .direc{ width:8px; height:14px; margin-top:9px;}.w218 .d-l .direc u{ background-color:#0f93de;}.w218 .d-l .direc i{ width:7px; height:10px;}
.w218 .d-f b{ background:#fff2f2; padding:0 5px; color:#c00;}