@charset "utf-8";
/* CSS Document */
.w252{ width:94%; margin-top:10px; float:left; display:inline;}
.w252 dt img{ width:100%; height:auto;}
.w252 .ipt{ width:93%;}
.w252 dd{ line-height:26px;}
.w252 .d-x a{ color:#000;}
.w252 .d-m a{ color:#dc8701;}